<div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Categories</h4>                                  
                                            {{#each categories}}
                                            <ul class="list-unstyled fruite-categorie">
                                                <li>
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="/shop?category={{id}}">{{name}}</a> <span> ({{Products.length}})</span>
                                                    </div>
                                                </li>
                                            </ul>

                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4 class="mb-2">Price</h4>
                                            <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                            <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Additional</h4>
                                            {{#each tags}}
                                            <div class="mb-2">
                                                <a href="/shop?tag={{id}}">{{name}}</a>
                                            </div>
                                           {{/each}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="mb-3">Featured products</h4>
                                        {{#each featuredProducts}}
                                        <div class="d-flex align-items-center justify-content-start">
                                            <a href="/shop/{{id}}" style="text-decoration: none; color: inherit;">
                                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                    <img src="{{imagePath}}" class="img-fluid rounded" alt="">
                                                </div>
                                            </a>
                                            <div>
                                                <a href="/shop/{{id}}" style="text-decoration: none; color: inherit;">
                                                    <h6 class="mb-2">{{name}}</h6>
                                                </a>
                                                {{{createStarList stars}}}
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2">$ {{price}}</h5>                                                
                                                </div>
                                            </div>
                                        </div>

                                        {{/each}}
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>